//Colors
$color-primary: #1dd1a1;
$color-secondary: #10ac84;

$color-black: #2f3640;

$color-white: #fff;

//Paddings

$padding-bigger: 6rem;
$padding-medium: 2rem;
$padding-small: 1.4rem;