.padding-bigger {
  padding: 8rem 0;
}

.padding-x {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-bottom {
  padding-bottom: $padding-small;
}

.margin-auto {
  margin: 0 auto;
}

.rotate-deg {
  transform: rotate(-180deg);
}
